0
/Users/danyellt/CPP4_3DViewer_v2.0-1/src/Objects/cube.obj 0 2 0 0 1 #000000 #ffffff #ffffff
/Users/danyellt/CPP4_3DViewer_v2.0-1/src/Objects/cube.obj 1 2 0 0 1 #000000 #ffffff #ffffff
/Users/ehtelfos/projects/CPP4_3DViewer_v2.0-1/src/Objects/cub.obj 0 2 0 0 1 #000000 #ffffff #ffffff
/Users/ehtelfos/projects/CPP4_3DViewer_v2.0-1/src/Objects/human.obj 0 2 0 0 1 #000000 #ffffff #ffffff
/Users/ehtelfos/projects/CPP4_3DViewer_v2.0-1/src/Objects/cube.obj 1 2 0 0 1 #000000 #ffffff #ffffff
